@import "_norm.css";
@import "_vars.css";
@import "_global.css";
@import "_overall.css";

.main {
	height: 100%;
	background: url("../img/bg1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.menu {
	position: fixed;
	height: 100vh;
	width: 350px;
	background-color: var(--white-color);
}

.profile {
	height: 250px;
	margin: 30px;
	background: url("../img/me.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 20px;
	border: 2px solid black;
}

.menu-tasks {
	margin-top: 20px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.menu-title {
	font-size: 32px;
	color: rgba(0, 0, 0, 0.5);
	cursor: default;
}

.link {
	font-size: 22px;
}

.link:hover {
	background-color: var(--black-color);
	color: var(--white-color);
}

.menu-tasks__item-link {
	display: block;
	padding: 5px 20px;
	width: 100%;
}
